In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.cluster import KMeans
from sklearn.preprocessing import Imputer, StandardScaler
from io import StringIO

In [2]:
import os
path = os.getcwd()
print(path)

In [3]:
os.chdir('/Users/jdear/HBSDissertation')
path = os.getcwd()
print(path)

/Users/jdear/HBSDissertation

In [5]:
AccUUID = pd.read_csv('/Users/jdear/HBSDissertation/accountlist.csv')
AccUUID.columns

Index(['_', 'Id', 'Name'], dtype='object')

In [6]:
AccUUID.head(5)

           _                  Id                         Name
0  [Account]  0010000000000ABAAY    Butler Home Products, LLC
1  [Account]  0010000000000X1AAI                       Slalom
2  [Account]  001000000001LQ0AAM   OutSource Management, Inc.
3  [Account]  00100000000r6moAAA  Legacy TWC ResiDirect Sales
4  [Account]  00100000001cptWAAQ              Hitachi Vantara

In [7]:
del AccUUID['_']
AccUUID.head(5)

                   Id                         Name
0  0010000000000ABAAY    Butler Home Products, LLC
1  0010000000000X1AAI                       Slalom
2  001000000001LQ0AAM   OutSource Management, Inc.
3  00100000000r6moAAA  Legacy TWC ResiDirect Sales
4  00100000001cptWAAQ              Hitachi Vantara

In [8]:
AccUUID.describe()

                        Id        Name
count               200100      200077
unique              200100      192738
top     0013000001JzBDaAAN  Google LLC
freq                     1         118

In [9]:
import uuid

In [10]:
AccUUID['uuid'] = [uuid.uuid4() for x in range(len(AccUUID))] 
AccUUID.head(5)

,Id,Name,uuid
0,0010000000000ABAAY,"Butler Home Products, LLC",b3f57495-67b9-4bb1-89b5-013f58be041b
1,0010000000000X1AAI,Slalom,850699e0-956f-42d1-97e0-f49aa41a05a6
2,001000000001LQ0AAM,"OutSource Management, Inc.",95b17569-502a-491d-a2ff-85b66d206df4
3,00100000000r6moAAA,Legacy TWC ResiDirect Sales,93d798a3-9bb1-46b1-a9b9-a93c1e53f706
4,00100000001cptWAAQ,Hitachi Vantara,25a27bb6-9aa2-4871-837b-34f83383760f

In [11]:
testAcc = pd.read_csv('/Users/jdear/test-account.csv')
testAcc.columns

Index(['_', 'Id', 'Name', 'Customer_Status__c', 'AOV_Band__c',
       'Org_Status_DW__c', 'Open_Red_Account_Issues__c'],
      dtype='object')

In [12]:
df = pd.merge(AccUUID, testAcc, on='Id', how='left')
df.head()

,Id,Name_x,uuid,_,Name_y,Customer_Status__c,AOV_Band__c,Org_Status_DW__c,Open_Red_Account_Issues__c
0,0010000000000ABAAY,"Butler Home Products, LLC",b3f57495-67b9-4bb1-89b5-013f58be041b,[Account],"Butler Home Products, LLC",Customer,$1-10k,ACTIVE,0.0
1,0010000000000X1AAI,Slalom,850699e0-956f-42d1-97e0-f49aa41a05a6,[Account],Slalom,Customer,$1M-5M,ACTIVE,1.0
2,001000000001LQ0AAM,"OutSource Management, Inc.",95b17569-502a-491d-a2ff-85b66d206df4,[Account],"OutSource Management, Inc.",Customer,$1-10k,ACTIVE,0.0
3,00100000000r6moAAA,Legacy TWC ResiDirect Sales,93d798a3-9bb1-46b1-a9b9-a93c1e53f706,NaN,NaN,NaN,NaN,NaN,NaN
4,00100000001cptWAAQ,Hitachi Vantara,25a27bb6-9aa2-4871-837b-34f83383760f,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
AccUUID.to_csv('UUIDmapping.csv')