In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.cluster import KMeans
from sklearn.preprocessing import Imputer, StandardScaler
from io import StringIO

In [11]:
import os
path = os.getcwd()
print(path)

/Users/jdear/HBSDissertation

In [20]:
os.chdir('/Users/jdear/HBSDissertation')
path = os.getcwd()
print(path)

/Users/jdear/HBSDissertation

In [21]:
testSprog = pd.read_csv('/Users/jdear/HBSDissertation/testsuccessprog8.csv')
testSprog.head(5)

,_,Id,Name,Account__c,Type__c,Engagement_Type__c,Status__c,Account__r,Account__r.CSG_Coverage__c,Account__r.Name,Delivery_Method__c,Event_Type__c,RecordType,RecordType.Name
0,[Program_Engagement__c],aCb3y000005zNDICA2,ENG-69155733,0010000000000hPAAQ,NaN,NaN,NaN,[Account],Top,SunTrust Robinson Humphrey Capital Markets,Community,NaN,[RecordType],API Only
1,[Program_Engagement__c],aCb3y000005zNDNCA2,ENG-69155734,0010000000000hPAAQ,NaN,NaN,NaN,[Account],Top,SunTrust Robinson Humphrey Capital Markets,Community,NaN,[RecordType],API Only
2,[Program_Engagement__c],aCb3y0000062qthCAA,ENG-69966830,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,[RecordType],Community Summary
3,[Program_Engagement__c],aCb3y0000062qtiCAA,ENG-69966831,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,[RecordType],Community Summary
4,[Program_Engagement__c],aCb3y0000064NwmCAE,ENG-70332201,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,[RecordType],Community Summary

In [22]:
testSprog.describe()

       Engagement_Type__c  Event_Type__c
count                 0.0            0.0
mean                  NaN            NaN
std                   NaN            NaN
min                   NaN            NaN
25%                   NaN            NaN
50%                   NaN            NaN
75%                   NaN            NaN
max                   NaN            NaN

In [23]:
del testSprog['_']
testSprog.head(5)

,Id,Name,Account__c,Type__c,Engagement_Type__c,Status__c,Account__r,Account__r.CSG_Coverage__c,Account__r.Name,Delivery_Method__c,Event_Type__c,RecordType,RecordType.Name
0,aCb3y000005zNDICA2,ENG-69155733,0010000000000hPAAQ,NaN,NaN,NaN,[Account],Top,SunTrust Robinson Humphrey Capital Markets,Community,NaN,[RecordType],API Only
1,aCb3y000005zNDNCA2,ENG-69155734,0010000000000hPAAQ,NaN,NaN,NaN,[Account],Top,SunTrust Robinson Humphrey Capital Markets,Community,NaN,[RecordType],API Only
2,aCb3y0000062qthCAA,ENG-69966830,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,[RecordType],Community Summary
3,aCb3y0000062qtiCAA,ENG-69966831,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,[RecordType],Community Summary
4,aCb3y0000064NwmCAE,ENG-70332201,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,[RecordType],Community Summary

In [24]:
# add counter
testSprog['Sprog Count'] = 1
testSprog.head(5)

,Id,Name,Account__c,Type__c,Engagement_Type__c,Status__c,Account__r,Account__r.CSG_Coverage__c,Account__r.Name,Delivery_Method__c,Event_Type__c,RecordType,RecordType.Name,Sprog Count
0,aCb3y000005zNDICA2,ENG-69155733,0010000000000hPAAQ,NaN,NaN,NaN,[Account],Top,SunTrust Robinson Humphrey Capital Markets,Community,NaN,[RecordType],API Only,1
1,aCb3y000005zNDNCA2,ENG-69155734,0010000000000hPAAQ,NaN,NaN,NaN,[Account],Top,SunTrust Robinson Humphrey Capital Markets,Community,NaN,[RecordType],API Only,1
2,aCb3y0000062qthCAA,ENG-69966830,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,[RecordType],Community Summary,1
3,aCb3y0000062qtiCAA,ENG-69966831,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,[RecordType],Community Summary,1
4,aCb3y0000064NwmCAE,ENG-70332201,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,[RecordType],Community Summary,1

In [25]:
SprogPivot1 = pd.pivot_table(testSprog, values='Sprog Count', index=['RecordType.Name'], aggfunc= np.sum)
SprogPivot1

                            Sprog Count
RecordType.Name
API Only                          62028
Community Summary                 32395
Generic General Engagement          706
Stream                               59
Trailhead Aggregate                2456
Webinar Participant                2356

In [27]:
SprogPivot2 = pd.pivot_table(testSprog, values='Sprog Count', index=['Delivery_Method__c'], aggfunc= np.sum)
SprogPivot2

                          Sprog Count
Delivery_Method__c
ADR                               131
Admin Assist                      681
Community                       74499
Customer Success Request          539
Einstein Assessor                   1
High Touch                         55
In Person Training                 86
In-App                             15
JavaScript Buttons Check            1
Live and Virtual Events            44
MANUAL_PROD                        46
Optimizer                           7
Readiness Check                    13
Renewal Touch                     336
SCHEDULED_PROD                     36
Success Apps                        5
Success Play                       26
Support Case                     2343
Trail                           16831
Video                            3090
Web                                12
Webinar                          1203

In [ ]:
AccUUID.head(5)

In [ ]:
del AccUUID['_']
AccUUID.head(5)

In [ ]:
AccUUID.describe()

In [ ]:
import uuid

In [ ]:
AccUUID['uuid'] = [uuid.uuid4() for x in range(len(AccUUID))] 
AccUUID.head(5)

In [ ]:
testAcc = pd.read_csv('/Users/jdear/test-account.csv')
testAcc.columns

In [ ]:
df = pd.merge(AccUUID, testAcc, on='Id', how='left')
df.head()

In [ ]:
AccUUID.to_csv('UUIDmapping.csv')