In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.cluster import KMeans
from sklearn.preprocessing import Imputer, StandardScaler
from io import StringIO

In [2]:
import os
path = os.getcwd()
print(path)

/Users/jdear/HBSDissertation

In [3]:
os.chdir('/Users/jdear/HBSDissertation')
path = os.getcwd()
print(path)

/Users/jdear/HBSDissertation

In [4]:
MapUUID = pd.read_csv('/Users/jdear/HBSDissertation/UUIDmapping.csv')
len(MapUUID.index)

200100

In [5]:
MapUUID.head(5)

,Unnamed: 0,Id,Name,uuid
0,0,0010000000000ABAAY,"Butler Home Products, LLC",b3f57495-67b9-4bb1-89b5-013f58be041b
1,1,0010000000000X1AAI,Slalom,850699e0-956f-42d1-97e0-f49aa41a05a6
2,2,001000000001LQ0AAM,"OutSource Management, Inc.",95b17569-502a-491d-a2ff-85b66d206df4
3,3,00100000000r6moAAA,Legacy TWC ResiDirect Sales,93d798a3-9bb1-46b1-a9b9-a93c1e53f706
4,4,00100000001cptWAAQ,Hitachi Vantara,25a27bb6-9aa2-4871-837b-34f83383760f

In [6]:
# tidyup
del MapUUID['Unnamed: 0']
MapUUID.head(5)

,Id,Name,uuid
0,0010000000000ABAAY,"Butler Home Products, LLC",b3f57495-67b9-4bb1-89b5-013f58be041b
1,0010000000000X1AAI,Slalom,850699e0-956f-42d1-97e0-f49aa41a05a6
2,001000000001LQ0AAM,"OutSource Management, Inc.",95b17569-502a-491d-a2ff-85b66d206df4
3,00100000000r6moAAA,Legacy TWC ResiDirect Sales,93d798a3-9bb1-46b1-a9b9-a93c1e53f706
4,00100000001cptWAAQ,Hitachi Vantara,25a27bb6-9aa2-4871-837b-34f83383760f

In [7]:
SuccessProg1 = pd.read_csv('/Users/jdear/HBSDissertation/successprog1m2.csv')
SuccessProg1.head()

,_,Id,Name,Account__c,Type__c,Engagement_Type__c,Status__c,Account__r,Account__r.CSG_Coverage__c,Account__r.Name,Delivery_Method__c,Event_Type__c,RecordType,RecordType.Name
0,[Program_Engagement__c],aCb3y000005zNDICA2,ENG-69155733,0010000000000hPAAQ,NaN,NaN,NaN,[Account],Top,SunTrust Robinson Humphrey Capital Markets,Community,NaN,[RecordType],API Only
1,[Program_Engagement__c],aCb3y000005zNDNCA2,ENG-69155734,0010000000000hPAAQ,NaN,NaN,NaN,[Account],Top,SunTrust Robinson Humphrey Capital Markets,Community,NaN,[RecordType],API Only
2,[Program_Engagement__c],aCb3y0000062qthCAA,ENG-69966830,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,[RecordType],Community Summary
3,[Program_Engagement__c],aCb3y0000062qtiCAA,ENG-69966831,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,[RecordType],Community Summary
4,[Program_Engagement__c],aCb3y0000064NwmCAE,ENG-70332201,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,[RecordType],Community Summary

In [8]:
len(SuccessProg1.index)

1000000

In [9]:
SuccessProgMay = pd.read_csv('/Users/jdear/HBSDissertation/successprogmay.csv')
SuccessProgMay.head()

,_,Id,Name,Account__c,Type__c,Engagement_Type__c,Status__c,Account__r,Account__r.CSG_Coverage__c,Account__r.Name,Delivery_Method__c,Event_Type__c,RecordType,RecordType.Name
0,[Program_Engagement__c],aCb3y000005cz8fCAA,ENG-65116032,0010M00001SIOiiQAH,NaN,NaN,NaN,[Account],Focus,"Marcus & Millichap New York, NY- Eric Anton Team",Support Case,NaN,[RecordType],API Only
1,[Program_Engagement__c],aCb3y000005aM3mCAE,ENG-64588843,0010M00001SejQ4QAJ,Other,NaN,Completed - Successful,[Account],Focus,ANZ Bank New Zealand Limited,Trail,NaN,[RecordType],Trailhead Aggregate
2,[Program_Engagement__c],aCb3y000005bsVTCAY,ENG-64893297,0010M00001SejQ4QAJ,Getting Started,NaN,NaN,[Account],Focus,ANZ Bank New Zealand Limited,Digital Campaigns,NaN,[RecordType],Stream
3,[Program_Engagement__c],aCb3y000005cxiuCAA,ENG-65108441,0010M00001SejQ4QAJ,Other,NaN,Completed - Successful,[Account],Focus,ANZ Bank New Zealand Limited,Trail,NaN,[RecordType],Trailhead Aggregate
4,[Program_Engagement__c],aCb3y000005d4Y8CAI,ENG-65131180,0010M00001SejQ4QAJ,Other,NaN,NaN,[Account],Focus,ANZ Bank New Zealand Limited,Trail,NaN,[RecordType],Community Summary

In [10]:
len(SuccessProgMay.index)

567694

In [11]:
# Concatenate 
frames = [SuccessProg1, SuccessProgMay]
SuccessProg = pd.concat(frames)

In [12]:
len(SuccessProg.index)

1567694

In [13]:
SuccessProg.head()

,_,Id,Name,Account__c,Type__c,Engagement_Type__c,Status__c,Account__r,Account__r.CSG_Coverage__c,Account__r.Name,Delivery_Method__c,Event_Type__c,RecordType,RecordType.Name
0,[Program_Engagement__c],aCb3y000005zNDICA2,ENG-69155733,0010000000000hPAAQ,NaN,NaN,NaN,[Account],Top,SunTrust Robinson Humphrey Capital Markets,Community,NaN,[RecordType],API Only
1,[Program_Engagement__c],aCb3y000005zNDNCA2,ENG-69155734,0010000000000hPAAQ,NaN,NaN,NaN,[Account],Top,SunTrust Robinson Humphrey Capital Markets,Community,NaN,[RecordType],API Only
2,[Program_Engagement__c],aCb3y0000062qthCAA,ENG-69966830,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,[RecordType],Community Summary
3,[Program_Engagement__c],aCb3y0000062qtiCAA,ENG-69966831,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,[RecordType],Community Summary
4,[Program_Engagement__c],aCb3y0000064NwmCAE,ENG-70332201,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,[RecordType],Community Summary

In [14]:
# tidyup
del SuccessProg['_']
del SuccessProg['RecordType']
SuccessProg.head(5)

,Id,Name,Account__c,Type__c,Engagement_Type__c,Status__c,Account__r,Account__r.CSG_Coverage__c,Account__r.Name,Delivery_Method__c,Event_Type__c,RecordType.Name
0,aCb3y000005zNDICA2,ENG-69155733,0010000000000hPAAQ,NaN,NaN,NaN,[Account],Top,SunTrust Robinson Humphrey Capital Markets,Community,NaN,API Only
1,aCb3y000005zNDNCA2,ENG-69155734,0010000000000hPAAQ,NaN,NaN,NaN,[Account],Top,SunTrust Robinson Humphrey Capital Markets,Community,NaN,API Only
2,aCb3y0000062qthCAA,ENG-69966830,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,Community Summary
3,aCb3y0000062qtiCAA,ENG-69966831,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,Community Summary
4,aCb3y0000064NwmCAE,ENG-70332201,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,Community Summary

In [15]:
# tidyup
SuccessProg = SuccessProg.rename(columns={'Id': 'SProgId', 'Account__c': 'Id'})
SuccessProg.head(5)

,SProgId,Name,Id,Type__c,Engagement_Type__c,Status__c,Account__r,Account__r.CSG_Coverage__c,Account__r.Name,Delivery_Method__c,Event_Type__c,RecordType.Name
0,aCb3y000005zNDICA2,ENG-69155733,0010000000000hPAAQ,NaN,NaN,NaN,[Account],Top,SunTrust Robinson Humphrey Capital Markets,Community,NaN,API Only
1,aCb3y000005zNDNCA2,ENG-69155734,0010000000000hPAAQ,NaN,NaN,NaN,[Account],Top,SunTrust Robinson Humphrey Capital Markets,Community,NaN,API Only
2,aCb3y0000062qthCAA,ENG-69966830,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,Community Summary
3,aCb3y0000062qtiCAA,ENG-69966831,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,Community Summary
4,aCb3y0000064NwmCAE,ENG-70332201,0010000000003UaAAI,Adoption,NaN,NaN,[Account],Top,IBM Corporation - master,Community,NaN,Community Summary

In [16]:
# Merge on Account ID 
SuccessProgMapped = pd.merge( MapUUID, SuccessProg,  on='Id', how='left')
SuccessProgMapped.head()

,Id,Name_x,uuid,SProgId,Name_y,Type__c,Engagement_Type__c,Status__c,Account__r,Account__r.CSG_Coverage__c,Account__r.Name,Delivery_Method__c,Event_Type__c,RecordType.Name
0,0010000000000ABAAY,"Butler Home Products, LLC",b3f57495-67b9-4bb1-89b5-013f58be041b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0010000000000X1AAI,Slalom,850699e0-956f-42d1-97e0-f49aa41a05a6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,001000000001LQ0AAM,"OutSource Management, Inc.",95b17569-502a-491d-a2ff-85b66d206df4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00100000000r6moAAA,Legacy TWC ResiDirect Sales,93d798a3-9bb1-46b1-a9b9-a93c1e53f706,aCb3y0000043fUwCAI,ENG-68777230,NaN,NaN,NaN,[Account],Top,Legacy TWC ResiDirect Sales,Community,NaN,API Only
4,00100000000r6moAAA,Legacy TWC ResiDirect Sales,93d798a3-9bb1-46b1-a9b9-a93c1e53f706,aCb3y000006Sm5WCAS,ENG-76170288,NaN,NaN,NaN,[Account],Top,Legacy TWC ResiDirect Sales,Community,NaN,API Only

In [17]:
len(SuccessProgMapped.index)

1572712

In [18]:
# Remove Account Names
del SuccessProgMapped['Name_x']
del SuccessProgMapped['Account__r.Name']
SuccessProgMapped.head()

,Id,uuid,SProgId,Name_y,Type__c,Engagement_Type__c,Status__c,Account__r,Account__r.CSG_Coverage__c,Delivery_Method__c,Event_Type__c,RecordType.Name
0,0010000000000ABAAY,b3f57495-67b9-4bb1-89b5-013f58be041b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0010000000000X1AAI,850699e0-956f-42d1-97e0-f49aa41a05a6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,001000000001LQ0AAM,95b17569-502a-491d-a2ff-85b66d206df4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00100000000r6moAAA,93d798a3-9bb1-46b1-a9b9-a93c1e53f706,aCb3y0000043fUwCAI,ENG-68777230,NaN,NaN,NaN,[Account],Top,Community,NaN,API Only
4,00100000000r6moAAA,93d798a3-9bb1-46b1-a9b9-a93c1e53f706,aCb3y000006Sm5WCAS,ENG-76170288,NaN,NaN,NaN,[Account],Top,Community,NaN,API Only

In [19]:
# Remove Account Ids
del SuccessProgMapped['Id']
SuccessProgMapped.head(5)

,uuid,SProgId,Name_y,Type__c,Engagement_Type__c,Status__c,Account__r,Account__r.CSG_Coverage__c,Delivery_Method__c,Event_Type__c,RecordType.Name
0,b3f57495-67b9-4bb1-89b5-013f58be041b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,850699e0-956f-42d1-97e0-f49aa41a05a6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,95b17569-502a-491d-a2ff-85b66d206df4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,93d798a3-9bb1-46b1-a9b9-a93c1e53f706,aCb3y0000043fUwCAI,ENG-68777230,NaN,NaN,NaN,[Account],Top,Community,NaN,API Only
4,93d798a3-9bb1-46b1-a9b9-a93c1e53f706,aCb3y000006Sm5WCAS,ENG-76170288,NaN,NaN,NaN,[Account],Top,Community,NaN,API Only

In [20]:
# Write output file
SuccessProgMapped.to_csv('SuccessProgMapped.csv')